In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [10]:
Anime = pd.read_csv('anime_with_synopsis.csv') 
Anime.head()

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [12]:
Anime= Anime.drop(columns='Score')

In [13]:
Anime.head()

,MAL_ID,Name,Genres,sypnopsis
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [20]:

def convert_genres_to_array(genres_string):
    """
    Converts a comma-separated string of genres into a list (array).

    Args:
        genres_string (str): A string containing genres separated by commas.

    Returns:
        list: A list of individual genres.  Returns an empty list if the input
              string is empty or None.
    """
    if isinstance(genres_string, str):
        return [genre.strip() for genre in genres_string.split(',')]
    else:
        return []  # Return an empty list for non-string values (e.g., NaN)

# Apply the function to the 'Genres' column
Anime['Genres'] = Anime['Genres'].apply(convert_genres_to_array)

In [21]:
Anime.head()

,MAL_ID,Name,Genres,sypnopsis
0,1,Cowboy Bebop,"[Action, Adventure, Comedy, Drama, Sci-Fi, Space]","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,"[Action, Drama, Mystery, Sci-Fi, Space]","other day, another bounty—such is the life of ..."
2,6,Trigun,"[Action, Sci-Fi, Adventure, Comedy, Drama, Sho...","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,"[Action, Mystery, Police, Supernatural, Drama,...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,"[Adventure, Fantasy, Shounen, Supernatural]",It is the dark century and the people are suff...

In [24]:
Anime['sypnopsis'] = Anime['sypnopsis'].astype(str).apply(lambda x: x.split())

In [25]:
Anime.head()

,MAL_ID,Name,Genres,sypnopsis
0,1,Cowboy Bebop,"[Action, Adventure, Comedy, Drama, Sci-Fi, Space]","[In, the, year, 2071,, humanity, has, colonize..."
1,5,Cowboy Bebop: Tengoku no Tobira,"[Action, Drama, Mystery, Sci-Fi, Space]","[other, day,, another, bounty—such, is, the, l..."
2,6,Trigun,"[Action, Sci-Fi, Adventure, Comedy, Drama, Sho...","[Vash, the, Stampede, is, the, man, with, a, $..."
3,7,Witch Hunter Robin,"[Action, Mystery, Police, Supernatural, Drama,...","[ches, are, individuals, with, special, powers..."
4,8,Bouken Ou Beet,"[Adventure, Fantasy, Shounen, Supernatural]","[It, is, the, dark, century, and, the, people,..."

In [27]:
Anime['tags'] = Anime['sypnopsis'] + Anime['Genres']

In [43]:
new=Anime.drop(columns=['sypnopsis','Genres'])

In [44]:
new.head()

,MAL_ID,Name,tags
0,1,Cowboy Bebop,"[In, the, year, 2071,, humanity, has, colonize..."
1,5,Cowboy Bebop: Tengoku no Tobira,"[other, day,, another, bounty—such, is, the, l..."
2,6,Trigun,"[Vash, the, Stampede, is, the, man, with, a, $..."
3,7,Witch Hunter Robin,"[ches, are, individuals, with, special, powers..."
4,8,Bouken Ou Beet,"[It, is, the, dark, century, and, the, people,..."

In [45]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))

new.head()

,MAL_ID,Name,tags
0,1,Cowboy Bebop,"In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,"other day, another bounty—such is the life of ..."
2,6,Trigun,"Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,ches are individuals with special powers like ...
4,8,Bouken Ou Beet,It is the dark century and the people are suff...

In [46]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [47]:
vector = cv.fit_transform(new['tags']).toarray()
vector.shape

(16214, 5000)

In [48]:
from sklearn.metrics.pairwise import cosine_similarity

In [49]:
similarity = cosine_similarity(vector)

In [50]:
similarity

array([[1.        , 0.2634774 , 0.13430623, ..., 0.        , 0.16302783,
        0.16019235],
       [0.2634774 , 1.        , 0.15216262, ..., 0.03863337, 0.04617571,
        0.09074519],
       [0.13430623, 0.15216262, 1.        , ..., 0.        , 0.1711842 ,
        0.02102586],
       ...,
       [0.        , 0.03863337, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.16302783, 0.04617571, 0.1711842 , ..., 0.        , 1.        ,
        0.07018624],
       [0.16019235, 0.09074519, 0.02102586, ..., 0.        , 0.07018624,
        1.        ]])

In [51]:
new[new['Name'] == 'One Piece'].index[0]

11

In [54]:
def recommend(Anime):
    index = new[new['Name'] == Anime].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].Name)

In [55]:
recommend('One Piece')

One Piece: Episode of East Blue - Luffy to 4-nin no Nakama no Daibouken
One Piece Film: Strong World
One Piece: Romance Dawn Story
One Piece Film: Strong World Episode 0
One Piece Film: Z

In [57]:
import pickle

In [59]:
pickle.dump(new,open('Anime_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

FileNotFoundError: [Errno 2] No such file or directory: 'similarity.pkl'